[MASTER]
disable=
    C0114, # missing-module-docstring
    C0116, # missing function or method docstring
    C0115, # Missing class docstring
    C0103, # Constant name
    C0410, # Multiple imports 
    W0603, # Using the global statement
    W0401, # Wildcard import
    C0301, # Line too long
    C0321, # More than one statement on a single line
    R0801, # R0801: Similar lines in 2 files
    R0912, # Too many branches
    W0613, # Unused argument
    C0209, # Formatting a regular string which could be an f-string
    W0614, # Unused import(s)
    R0915, # Too many statements
    R0914, # Too many local variables
    R1732, # Consider using 'with' for resource-allocating